* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    min-width: 1194px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.search-form {
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    min-width: 620px;
    position: relative;
}

.surch-input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 13px 20px;
}

.search-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}

.auth {
    margin-left: auto;
}

.login {
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.shoping-cart {
    text-decoration: none;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    position: relative;
}

.shopping-counter {
    background: #FFAF19;
    font-size: 8px;
    line-height: 9px;
    color: #000000;
    display: block;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}